

* {
  .box-sizing(border-box);
}

body {
  background: darken(white, 2%);
  border-top: 6px solid @color-osp;
}

#search {

  padding: 0 2em;

  // Fix Chrome painting bug.
  .backface-visibility(hidden);

}

#map {
  float: right;
  width: 0%;
}
