

.results {

  h3 {
    color: @brand-primary;
  }

  em {
    font-style: normal;
    font-weight: bold;
    color: @brand-primary;
  }

  tr.text {
    cursor: pointer;
  }

  td.title {
    font-weight: bold;
  }

  td.metrics {

    width: 1%;
    text-align: right;
    font-size: 18px;

    span {
      margin-left: 10px;
    }

  }

  span.rank {
    font-weight: 800;
  }

  td.text {
    span {
      margin-right: 10px;
    }
  }

  div.title {
    font-weight: 500;
  }

}
