

.results {

  h3 {
    color: @brand-primary;
  }

  em {
    font-style: normal;
    font-weight: bold;
    color: @brand-primary;
  }

  thead {
    background: white;
  }

  th {
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    &:last-child {
      text-align: left;
    }
  }

  tr.text {
    cursor: pointer;
  }

  td.title {
    font-weight: bold;
  }

  td.percentile, td.rank, td.count {
    width: 1%;
    text-align: center;
    font-size: 18px;
  }

  span.rank {
    font-weight: 800;
  }

  td.text {
    span {
      margin-right: 10px;
    }
  }

  div.title {
    font-size: 18px;
    font-weight: 500;
  }

}
