
upstream express {
  server 127.0.0.1:3001;
  keepalive 8;
}

server {

  listen 80;
  access_log /var/log/nginx/plugins.log;

  location / {
    proxy_pass http://express/;
    proxy_redirect off;
  }

}
